<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
  <meta charset="UTF-8">
  <title>Blogs</title>
  <th:block th:insert="~{layout/layout::library}"> </th:block>
</head>
<body>
<div th:replace="~{layout/layout::header}"></div>
<form action="/songs/edit" method="post" th:object="${song}">
  Title: <input type="text"  th:field="*{title}"><br>
  <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small><br>
  Artist: <input type="text"  th:field="*{artist}"> <br>
  <small class="text-danger" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></small><br>
  Type: <input type="text"  th:field="*{type}"> <br>
  <small class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></small><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>