<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <th:block th:insert="~{layout/layout::library}"/>
</head>
<body>
<th:block th:insert="~{layout/layout::header}"/>
<h1>Product Detail</h1>
ID: <span th:text="${product.id}"></span><br/>
Name: <span th:text="${product.productName}"></span><br/>
Description: <span th:text="${product.productDescription}"></span><br/>
Price: <span th:text="${product.productPrice}"></span><br/>
<a href="/products">Back</a>
</body>
</html>